.about {
    &-container {
        width: 70%;
        margin: auto;
        text-align: center;
    }

    &-header {
        margin-bottom: 2rem;

        h2 {
            &::after {
                content: '';
                height: 2px;
                width: 30%;
                margin: auto;
                margin-top: 1rem;
                display: block;
                background-color: $primary;
            }
        }
    }

    &-content {
        img {
            width: 60%;
            margin: 1rem 0;
            margin-bottom: 2rem;
        }

        p {
            margin: 1rem 0;
        }
    }

    &-footer {
        margin-top: 2rem;
    }

}